<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masin</title>
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://kit.fontawesome.com/b2e1054c2a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/animasya.css')}}">    
    <link rel="stylesheet" href="{{url_for('static', filename='css/resp.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="https://turbo.azstatic.com/assets/favicons/favicon-192x192-ad156dea797e1d05604d12bf4c3f9e0285bc9f34429a3306f70a3cd3401a8df9.png" >
</head>
<body style="background-color:#d1d3d8;" >
    <nav style="background-color:#ca1016;height: 70px;" class="navbar navbar-expand-lg sticky-top navbar-light p-3">
        <div style="padding-top: 0px;" class="container">
          <a class="navbar-brand text-white " href="#"><i></i> <strong>MASHIN.SAT</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase  text-white  active text-animationn-2 qaqa "   aria-current="page" href="#">Bütün elanlar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase text-white  text-animationn-2 qaqa " href="#">Aftosalonlar</a>
              </li>
              <li class="nav-item dropdown " >
                <a class="nav-link mx-2 text-uppercase  text-white text-animationn-2  dropbtn  qaqa " href="javascript:void(0)">Ehtiyat hissələr və aksesuarlar</a>
                <div class="dropdown-content"   >
                  <a style="color: black;" href="#">Aksesuarlar</a>
                  <a style="color: black;" href="#">Audio və video texnika </a>
                  <a style="color: black;" href="#">Avtokosmetika və avtokimya </a>
                  <a style="color: black;" href="#">Ehtiyat hissələr </a>
                  <a style="color: black;" href="#">GPS naviqatorlar </a>
                  <a style="color: black;" href="#">Qeydiyyat nişanları </a>
                  <a style="color: black;" href="#">Siqnalizasiyalar   </a>
                  <a style="color: black;" href="#">Videoqeydiyyatçılar   </a>
                  <a style="color: black;" href="#">Şinlər, disklər və təkərlər   </a>
                  <a style="color: black;" href="#">Digər</a>

                </div>
              </li>
                
            </ul>
            <ul class="navbar-nav ms-auto" >
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase text-animationn-2  salam " href="./yeni.html"><button class=" btn-1 " >Yeni Elan</button></a>
              </li>  
            </ul>
          </div>
        </div>
      </nav>

<form>

    <div class="container" style="padding-top: 20px;" >
      <div class="row">
        <div class="col-sm" >
          <input class="width" style="border: none;"  type="text" name="" id="btn" placeholder="Marka">
        </div>

        <div class="col-sm">
          <input class="width" style="border: none;"  type="text" name="" id="btn" placeholder="Model">
        </div>

        <div class="col-sm">
          <div class="mytabs">
            <input type="radio" id="tabfree" name="mytabs" checked="checked">
            <label style="border: none;cursor: pointer;" class="tabfreee" for="tabfree"> Hamısı </label>
      
            <input type="radio" id="tabsilver" name="mytabs">
            <label style="border: none;cursor: pointer;" for="tabsilver">Yeni </label>
            
            <input  type="radio" id="tabgold" name="mytabs">
            <label style="cursor: pointer;" for="tabgold" class="tab2">Sürülmüş</label>
           
          </div>
        </div>

 

        <div class="col-sm">
          <input class="width" style="border: none;"  type="text" name="" id="btn" placeholder="Şəhər">
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 20px;" >
      <div class="row">
        <div class="col-sm" style="display: flex;border-radius: 10px;">
            <input class="width" type="text" name="" id="ikinci" placeholder="Qiymet,min">
            <input class="width" type="text" name="" id="ucuncu" placeholder="maks.">
        </div>
        <div class="col-sm " style="display: flex;" >
          <select  style="cursor: pointer;"  class="form-azn" class="btn-balaca-3" aria-label="Default select example">
            <option selected>AZN </option>
            <option value="1">USD </option>
            <option value="2">EUR </option>
          </select>
          <div id = "button-4">
            <input  type = "checkbox" id = "check1" >
            <label  style="margin-left: 14px;"  class="btn-check-1"  for = "check1">Kredit</label>
            <input  type = "checkbox" id = "check-1">
            <label  style="margin-left: 14px;" class="btn-check-1" for = "check-1">Barter</label>
          </div>
        </div>

        <div class="col-sm">
          <input class="width" style="border: none;"  type="text" name="" id="btn" placeholder="Ban növü">
        </div>
        
        <div class="col-sm"  style="display: flex;border-radius: 10px;">
          <input  class="width" type="text" name="" id="ikinci" placeholder="İl,min">
          <input class="width" type="text" name="" id="ucuncu" placeholder="maks.">
      </div>
      </div>
    </div>

    <div class="container" style="padding-top: 30px;">
      <div class="row">
        <div class="col-sm" >
          <h3 style="font-size: 20px;">Bu gün:  <a href="" style="text-decoration: none;padding-top: 10px;  ">1855 yeni elan</a> </h3>
        </div>
        <div  class="col-sm"> 
        <div style="display: flex;" class="salam"> 
           <input style="border: none; background-color:#d1d3d8;color:red;font-size:20px;"  type="reset">
          <a href="./masin2.html" style="text-decoration: none;"><h3 style="padding-left: 70px;color: rgb(255, 0, 0);font-size: 20px;padding-top: 10px;" >Daha çox filtr <i class='fas fa-angle-down' style='font-size:18px;color:red'></i>  </h3></a>  
          <a  style="padding-left: 70px;" href=""><button class="elan" style="width: 170px;height: 49px;">Elanları göstər</button></a>
        </div>
       </div>  
      </div>
    </div>
</form>
 



<div>
  <p class="text-dark" style="padding-top: 50px;padding-left: 110px;"  >VIP ELANLAR</p>
</div>


 <div class="container  " style="padding-top: 20px;" >
  <div class="row">
    {% for car in cars %}
    <div class="col-sm-3">
      <div  class="card sekil " style="border-radius: 20px;">
        <img  src="{{url_for('static', filename='img/masin.jpg')}}" alt="Avatar" style="width:100%;border-radius: 20px;">
        <div class="container font" >
          <h4 ><b>{{car.model}} manat</b></h4> 
          <p >{{car.price}}</p> 
          <p >{{car.marka}}</p> 
          <p class="reqem">2022.06.12</p>
          <p class="reqem" >Baki ,0303030</p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>  

 <!-- <div class="container  " style="padding-top: 20px;" >
  <div class="row"  >
    <div class="col-sm-3">
      <div  class="card sekil " style="border-radius: 20px;">
        <img  src="{{url_for('static', filename='img/masin.jpg')}}" alt="Avatar" style="width:100%;border-radius: 20px;">
        
        <div class="container font" >
          <h4 ><b>28000 AZN</b></h4>  
          <p >LADA</p> 
          <p class="reqem">2022.06.12</p>
          <p class="reqem" >Baki ,0303030</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div  class="card sekil " style="border-radius: 20px;">
        <img  src="{{url_for('static', filename='img/masin.jpg')}}" alt="Avatar" style="width:100%;border-radius: 20px;">
        <div class="container font" >
          <h4 ><b>28000 AZN</b></h4> 
          <p >LADA</p> 
          <p class="reqem">2022.06.12</p>
          <p class="reqem" >Baki ,0303030</p>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div  class="card sekil " style="border-radius: 20px;">
        <img  src="{{url_for('static', filename='img/masin.jpg')}}" alt="Avatar" style="width:100%;border-radius: 20px;">
        <div class="container font" >
          <h4 ><b>28000 AZN</b></h4> 
          <p >LADA</p> 
          <p class="reqem">2022.06.12</p>
          <p class="reqem" >Baki ,0303030</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div  class="card sekil " style="border-radius: 20px;">
        <img  src="{{url_for('static', filename='img/masin.jpg')}}" alt="Avatar" style="width:100%;border-radius: 20px;">
        <div class="container font" >
          <h4 ><b>28000 AZN</b></h4> 
          <p >LADA</p> 
          <p class="reqem">2022.06.12</p>
          <p class="reqem" >Baki ,0303030</p>
        </div>
      </div>
    </div>

  </div>
</div>   -->
 

<!-- <footer  -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section style="margin-top: 100px;" class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Reklam yerləşdirin</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
  
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Abarth(3)</a>
              </div>
              <hr>
            </div>
            <div class="col-md-2">
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <hr>
            </div>
            <div class="col-md-2">
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <hr>
            </div>
            <div class="col-md-2">
              <div>
              <hr>
            </div>
            <div class="col-md-2">
              
              <hr>
            </div>
            <div class="col-md-2">
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3"  href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Bentley(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Mercedes(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <div>
                <a class="text-3" href="">Abarth(3)</a>
              </div>
              <hr>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-3">
                  <a class="text-4" href="">Qaydalar</a>
                </div>
                <div class="col-md-3">
                  <a class="text-4" href="">Qanun</a>
                </div>
                <div class="col-md-3">
                  <a class="text-4" href="">İstifadəçi razılaşması</a>
                </div>
                <div class="col-md-3">
                  <a class="text-4" href="">Məxfilik siyasəti</a>
                </div>
              </div>
            </div>
           
  
          </div>
        </div>
        
       
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div  class="text-center p-4" style="margin-top: 20px; background-color: #ca1016; color: #fff;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <p>Saytın Administrasiyası reklam bannerlərinin və yerləşdirilmiş  elanların məzmununa görə məsuliyyət daşımır.</p>
          </div>
          <div class="col-md-6">
            <p>2006-2023 Digital Classifieds MMC. VÖEN: 1405631661 </p>
            <a style="color: #fff;" href="">Mobil versiyası</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
 
 

<marquee behavior="" direction="">Turbo.az nedi qaqaaa</marquee>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>